<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
    }

    .nv-file-over {
        border: dotted 3px red;
    }

    .another-file-over-class {
        border: dotted 3px green;
    }

    html, body {
        height: 100%;
    }

 .gallery {
  padding: 0;
}

.gallery li {
  display: inline-block;
  margin: 0 1em 1em 0;
  list-style-type: none;
  text-align: center;
}

@media (max-width: 767px) {
  .gallery li {
    margin: 0;
  }
}

.gallery1 img {
  width: 75px;
  height: 75px;
}

.gallery2 img {
  width: 6em;
}

.gallery5 img {
  width: 120px;
}

</style>

<div class="row" ng-controller="imageUploadCtrl">
    <div class="col-md-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Image upload
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
                        <button type="button" class="close" ng-click="showAlert=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{alertMsg}}
                    </div>
                </div>
                <div>
                    &nbsp;
                </div>
                <div class="col-md-12">

                    <!--<div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Phone1">Image UploadType:<span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control" name="ddImageType" ng-required="true" ng-model="imageType" ng-change="ddImageTypeOnChange()">
                                    <option value="1">Images</option>
                                    <option value="2">Logo</option>
                                    <option value="3">Signature</option>
                                </select>                             
                            </div>
                            <label class="control-label col-sm-2" for="Phone2">&nbsp;</label>
                            <div class="col-md-4">
                                <input type="file" nv-file-select="" uploader="uploader" />
                            </div>
                        </div>
                    </div>-->
                    
                    <div>
                        &nbsp;
                    </div>
                    <div>

                        <label class="col-sm-2 control-label text-left">Attachments:</label>
                        <!--<div class="col-sm-10">
                            <label for="file-upload" class="custom-file-upload">
                                <i class="fa fa-paperclip"></i>
                            </label>
                            <input id="file-upload" type="file" nv-file-select="" uploader="uploader" file-input="selectedFiles" />
                            <span ng-show="selectedFiles.length==0">no files chosen</span>
                            <div ng-show="selectedFiles.length>0"><table><tr ng-repeat="file in selectedFiles"><td>{{file.name}}</td></tr></table></div>
                        </div>-->
                        <input type="file" nv-file-select="" uploader="uploader" />
                    </div>

                    <div class="col-md-9" style="margin-bottom: 40px">
                        <!--<h3>Upload queue</h3>
                        <p>Queue length: {{ uploader.queue.length }}</p>-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-trash"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove();clearUploader()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div panel-tools></div>
                    Available Images
                </div>
                <div class="panel-body">
                    <div class="col-md-12" ng-init="formLoad()">
                        <ul class="gallery gallery1">
                            <li ng-repeat="image in images">
                                <a ng-click="openLightboxModal($index)">
                                    <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                    <i class="fa fa-picture-o"> </i> {{images.length}} images
                </div>
            </div>

        </div>
    </div>
</div> 

