<div class="row" ng-controller="templateCtrl">
    <div class="col-md-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Email Templte
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    &nbsp;
                </div>
                
                    <div class="col-md-12">
                        <span class="lead" ng-show="emailTemplate.id == 0">Add email templte.</span>
                        <span class="lead" ng-show="emailTemplate.id != 0">Edit email template.</span>
                        <a title="Details" ng-show="emailTemplate.id != 0" class="btn btn-success glyphicon glyphicon-folder-open pull-right" ui-sref="communication.templateDtls({id:{{emailTemplate.id}}})"></a>
            <span ng-show="branchData.id != 0" class="pull-right">&nbsp;&nbsp;</span>
            <a title="List" type="button" class="btn btn-success glyphicon glyphicon-th-list pull-right" ui-sref="communication.templateLst"></a>
            <hr />
        </div>
              
        <div class="col-md-12 alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
            <button type="button" class="close" ng-click="showAlert=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{alertMsg}}
        </div>                                  
                <div class="col-md-12">
                    &nbsp;
                </div>
                    <div class="col-md-12">
                        <form name="emailTemplateForm" ng-init="initialize()">
                         
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="control-label col-md-12" for="emailTemplate.name">Name:<span class="PopupRequired">*</span></label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" ng-model="emailTemplate.name" ng-maxlength="100" ng-required="true" class="form-control" name="txtName" placeholder="Enter email template name"/>
                                        <span class="error" ng-show="emailTemplateForm.txtName.$dirty && emailTemplateForm.txtName.$error.required">
                                            Required!
                                        </span>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="row hidden-sm hidden-xs">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="control-label col-md-12" for="emailTemplate.description">Description:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea class="form-control" rows="2" ng-model="emailTemplate.description" ng-maxlength="250" name="txtDescription" placeholder="Enter Description"></textarea>
                                        <span class="error" ng-show="emailTemplateForm.txtDescription.$dirty && emailTemplateForm.txtDescription.$error.maxlength">
                                            Description cannot be longer than 250 characters
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row hidden-sm hidden-xs">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-12" for="emailTemplate.template">Email template:<span class="PopupRequired">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="panel-body">
                                            <div summernote id="txtContent" class="summernote" ng-required="true" height="300" ng-model="emailTemplate.content"></div>                                          
                                        </div>
                                            
                                            <!--<text-angular ng-model="emailTemplate.content" ng-required="true" name="txtTemplate"></text-angular>
        <span class="error" ng-show="emailTemplateForm.txtTemplate.$dirty && bankForm.txtTemplate.$error.required">
            Required!
        </span>-->
                                        </div>
                                </div>
                            </div>

                            
                            <div class="row hidden-sm hidden-xs">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-6">
                                        <br />
                                        <button type="submit" class="btn btn-primary" ng-click="save(emailTemplateForm)">Save</button>
                                        &nbsp;&nbsp;&nbsp;
                                        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-12">
                        &nbsp;
                    </div>
</div>
        </div>
    </div>
</div>



