<!-- Header -->
<div id="header" ng-include="'app/views/layout/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'app/views/layout/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-init="formLoad()" ng-controller="analyticsCtrl">




    <div class="content" animate-panel effect="zoomIn">
        <div class="row">

            <div class="col-lg-12" ng-controller="errorCtrl">
                <div class="alert alert-danger" role="alert"><strong>You do not have rights to access this page !. Please contact your organization admin</strong></div>
            </div>
            <!-- Right sidebar -->

        </div>
    </div>
    </div>
    <div id="right-sidebar" ng-include="'app/views/layout/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'app/views/layout/footer.html'"></footer>

