<!--<div class="container">-->
    <div class="col-md-12">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="lead">Family List.</span>
            <a title="Add family" type="button" class="btn btn-success glyphicon glyphicon-plus pull-right" href="#/memberCare/family"></a>            
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert {{alertClassForDelete}} alert-dismissible" ng-show="showAlertForDelete" role="alert">
                <button type="button" class="close" ng-click="showAlertForDelete=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{alertMsgForDelete}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group has-feedback pull-right">
                <input type="text" ng-model="filterText" class="form-control" placeholder="Search" />
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-12" ng-init="formLoad()">

            <table ng-table="tableParams" class="table table-bordered table-striped">
                <tbody ng-repeat="family in $data" data-ng-switch on="dayDataCollapse[$index]">
                    <tr ng-class="{'danger': family.active === false }" title="Click to toggle collapse/expand family members details." ng-click="showFamilyMembers($index)">                       
                        <td data-title="'Name'" sortable="'name'">
                            {{family.name}}
                        </td>
                        <td data-title="'Phone'" sortable="'phone1'">
                            {{family.phone1}}
                        </td>
                        <td data-title="'MembershipStartDate'" sortable="'membershipStartDate'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                            {{family.membershipStartDate | date:'MM/dd/yyyy'}}
                        </td>
                        <td data-title="'Branch'" sortable="'Branch'">
                            {{family.branch}}
                        </td>
                        <td data-title="'Email'" sortable="'emailId1'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                            {{family.emailId1}}
                        </td>
                        <td data-title="'EthnicOrigin'" sortable="'ethnicOrigin'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                            {{family.ethnicOrigin}}
                        </td>
                        <td data-title="'Language'" sortable="'primaryLanguage'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                            {{family.primaryLanguage}}
                        </td>
                        <td data-title="'Action'">
                            <a type="button" title="Details" href="#/memberCare/familyDtls/{{family.id}}" class="btn btn-info btn-sm glyphicon glyphicon-folder-open"></a>
                            <a title="Edit" type="button" href="#/memberCare/family/{{family.id}}" class="btn btn-primary btn-sm glyphicon glyphicon glyphicon-edit"></a>
                            <button title="Disable" type="button" ng-click="$event.stopPropagation();" ng-show="family.active === true" class="btn btn-warning btn-sm glyphicon glyphicon glyphicon-remove" data-template="deleteFamily.html" data-placement="left" data-auto-close="1" bs-popover></button>
                            <button title="Enable" type="button" ng-click="enableFamily(family.id, true);$event.stopPropagation();" ng-show="family.active === false" class="btn btn-success btn-sm glyphicon glyphicon glyphicon-ok"></button>
                        </td>
                    </tr>
                    <tr data-ng-switch-when="true">
                        <td colspan="8">
                            <div class="col-md-12 span9">
                                <div class="col-md-12 pull-right">
                                    <table width="100%">
                                        <tr>
                                            <td valign="top">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <button title="Add Family Members" ng-click="setAction('add')" class="btn btn-success glyphicon glyphicon-plus" data-template="addFamilyMember.html" data-placement="right" data-auto-close="1" bs-popover></button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th>
                                                            First Name
                                                        </th>
                                                        <th>
                                                            Last Name
                                                        </th>
                                                        <!--<th>
                                                            Middle Name
                                                        </th>
                                                        <th>
                                                            Initial
                                                        </th>-->
                                                        <th class="hidden-sm hidden-xs hidden-md">
                                                            Date Of Birth
                                                        </th>
                                                        <th class="hidden-sm hidden-xs hidden-md">
                                                            Gender
                                                        </th>
                                                        <th>
                                                            Phone1
                                                        </th>
                                                        <th class="hidden-sm hidden-xs hidden-md">
                                                            EmailId1
                                                        </th>
                                                        <th class="hidden-sm hidden-xs hidden-md">
                                                            Is Tax Payer
                                                        </th>
                                                        <th>
                                                            Actions
                                                        </th>
                                                    </tr>
                                                    <tr ng-repeat="item in family.familyMembers" ng-class="{'danger': item.active === false }">
                                                        <td>
                                                            {{item.firstName}}
                                                        </td>
                                                        <td>
                                                            {{item.lastName}}
                                                        </td>
                                                        <!--<td>
                                                            {{item.middleName}}
                                                        </td>
                                                        <td>
                                                            {{item.initial}}
                                                        </td>-->
                                                        <td class="hidden-sm hidden-xs hidden-md">
                                                            {{item.dob | date:MM/dd/yyyy}}
                                                        </td>
                                                        <td class="hidden-sm hidden-xs hidden-md">
                                                            {{item.gender}}
                                                        </td>
                                                        <td>
                                                            {{familyMember.phone1}}
                                                        </td>
                                                        <td class="hidden-sm hidden-xs hidden-md">
                                                            {{item.emailId1}}
                                                        </td>
                                                        <td class="hidden-sm hidden-xs hidden-md">
                                                            {{item.isTaxPayer}}
                                                        </td>
                                                        <td data-title="'Action'">
                                                            <button title="Edit Family Member" ng-click="initialize(family.id,item.id);" class="btn btn-primary btn-sm glyphicon glyphicon glyphicon-edit" data-template="addFamilyMember.html" data-placement="left" data-auto-close="1" bs-popover></button>
                                                            <button title="Disable" type="button" ng-show="item.active === true" class="btn btn-warning btn-sm glyphicon glyphicon glyphicon-remove" data-template="familyMemberDelete.html" data-placement="left" data-auto-close="1" bs-popover></button>
                                                            <button title="Enable" type="button" ng-click="enableFamilyMember(family.id,item.id,true);" ng-show="item.active === false" class="btn btn-success btn-sm glyphicon glyphicon glyphicon-ok"></button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>


                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
    <hr />
<!--</div>-->
    <script id="deleteFamily.html" type="text/ng-template">
    <div class="popover popover-delete right" tabindex="-1">
        <div class="arrow" style="top: 50%;"></div>
        <h3 class="popover-title">Are you sure?</h3>
        <div class="popover-content">
            <div class="input-group">
                <div class="form-actions">
                    <button type="button" class="btn-xs btn-primary" ng-click="enableFamily(family.id,false);popover.saved=true;$hide();$event.stopPropagation();">Delete</button>
                    <button type="button" class="btn-xs btn-danger" ng-click="$hide();$event.stopPropagation();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>

   <script id="familyMemberDelete.html" type="text/ng-template">
       <div class="popover popover-delete right" tabindex="-1">
           <div class="arrow" style="top: 50%;"></div>
           <h3 class="popover-title">Are you sure?</h3>
           <div class="popover-content">
               <div class="input-group">
                   <div class="form-actions">
                       <button type="button" class="btn-xs btn-primary" ng-click="enableFamilyMember(family.id,item.id,false);popover.saved=true;$hide();$event.stopPropagation();">Delete</button>
                       <button type="button" class="btn-xs btn-danger" ng-click="$hide();$event.stopPropagation();">Cancel</button>
                   </div>
               </div>
           </div>
       </div>
</script>

<script id="addFamilyMember.html" type="text/ng-template">
    <div class="popover popover-doublecolumn right" tabindex="-1">
        <h3 class="popover-title">Add Family Membersd</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
                    <button type="button" class="close" ng-click="clearAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{alertMsg}}
                </div>
            </div>
        </div>
        <div class="popover-content popover.Form-content">
            <form name="familyMemberForm" ng-init="initialize(family.id,familyMemberData.id)">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.firstName">First Name:<span class="PopupRequired">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" ng-model="familyMemberData.firstName" ng-required="true" ng-maxlength="100" class="form-control" name="txtFirstName" placeholder="Enter First Name *" />
                                <span class="error" ng-show="familyMemberMemberForm.txtFirstName.$dirty && familyMemberForm.txtFirstName.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="familyMemberForm.txtFirstName.$dirty && familyMemberForm.txtFirstName.$error.maxlength">
                                    First name cannot be longer than 100 characters
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.lastName">Last Name:<span class="PopupRequired">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" ng-model="familyMemberData.lastName" ng-required="true" ng-maxlength="100" class="form-control" name="txtLastName" placeholder="Enter Last Name *" />
                                <span class="error" ng-show="familyMemberMemberForm.txtLastName.$dirty && familyMemberForm.txtLastName.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="familyMemberForm.txtLastName.$dirty && familyMemberForm.txtLastName.$error.maxlength">
                                    Last name cannot be longer than 100 characters
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.middleName">Middle Name:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" ng-model="familyMemberData.middleName" ng-maxlength="100" class="form-control" name="txtMiddleName" placeholder="Enter Middle Name" />
                                <span class="error" ng-show="familyMemberForm.txtMiddleName.$dirty && familyMemberForm.txtMiddleName.$error.maxlength">
                                    Last name cannot be longer than 100 characters
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.initial">Initial:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" ng-model="familyMemberData.initial" ng-maxlength="3" class="form-control" name="txtInitial" placeholder="Enter Initial" />
                                <span class="error" ng-show="familyMemberForm.initial.$dirty && familyMemberForm.initial.$error.maxlength">
                                    Last name cannot be longer than 100 characters
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.gender">Gender:<span class="PopupRequired">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="radio" ng-model="familyMemberData.gender" ng-required="true" name="rdGender" value="M" />Male
                                <input type="radio" ng-model="familyMemberData.gender" ng-required="true" name="rdGender" value="F" />Female
                                <span class="error" ng-show="familyMemberForm.rdGender.$dirty && familyMemberForm.rdGender.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.dob">DOB:<span class="PopupRequired">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="date" ng-model="familyMemberData.dob" value="{{familyMemberData.dob | date:MM/dd/yyyy}}" ng-maxlength="10" ng-required="true" class="form-control" name="txtDOB" data-date-format="mm/dd/yyyy" placeholder="Enter DOB" />
                                <span class="error" ng-show="familyMemberForm.txtDOB.$dirty && familyMemberForm.txtDOB.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.relationshipId">Relationship:</label>
                            </div>
                            <div class="col-md-12">
                                <select class="form-control" name="ddRelationship" ng-required="true" ng-model="familyMemberData.relationshipId" ng-options="relationship.id as relationship.name for relationship in relationships">
                                    <option value="">Select Relationship</option>
                                </select>
                                <span class="error" ng-show="familyMemberData.ddRelationship.$dirty && familyMemberData.ddRelationship.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.notes">Is Tax Payer:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="checkbox" ng-model="familyMemberData.isTaxPayer">
                            </div>
                        </div>                       
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.phone1">Phone:<span class="PopupRequired">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" ng-model="familyMemberData.phone1" ng-maxlength="15" class="form-control" name="txtPhone1" placeholder="Enter Phone1" />
                                <span class="error" ng-show="familyMemberMemberForm.txtPhone1.$dirty && familyMemberForm.txtPhone1.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="familyMemberForm.txtPhone1.$dirty && familyMemberForm.txtPhone1.$error.maxlength">
                                    Last name cannot be longer than 15 characters
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.emailId1">EmailId:<span class="PopupRequired">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="email" ng-model="familyMemberData.emailId1" ng-maxlength="100" class="form-control" name="txtEmailId1" placeholder="Enter Email Id" />
                                <span class="error" ng-show="familyMemberMemberForm.txtEmailId1.$dirty && familyMemberForm.txtEmailId1.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="familyMemberForm.txtEmailId1.$dirty && familyMemberForm.txtEmailId1.$error.maxlength">
                                    Last name cannot be longer than 100 characters
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">                       
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="familyMemberData.notes">Notes:</label>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3" ng-model="familyMemberData.notes" ng-maxlength="250" name="txtNotes" placeholder="Enter Notes"></textarea>
                                <span class="error" ng-show="familyMemberMemberForm.txtNotes.$dirty && familyMemberForm.txtNotes.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="familyMemberForm.txtNotes.$dirty && familyMemberForm.txtNotes.$error.maxlength">
                                    Last name cannot be longer than 250 characters
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12"> &nbsp;</div>
                            <div class="col-md-12"> &nbsp;</div>
                            <button type="submit" class="btn btn-primary" ng-click="savefamilyMember(family.id, familyMemberForm);">Save</button>
                            <button type="button" class="btn btn-primary" ng-click="clearAlert();loadFamily();$hide()">Close</button>
                        </div>
                        </div>                 
                </div>


            </form>
        </div>
    </div>
</script>

