<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>

    <div class="col-md-12">
        <span class="lead">Sponsor.</span>
        <button title="Add Sponsor" ng-click="setAction('add')" class="btn btn-success glyphicon glyphicon-plus  pull-right" data-template-url="addSponsor.html" data-container="body" data-placement="left" data-auto-close="1" bs-popover></button>
        <hr />
    </div>
    <div class="col-md-12">
        <div class="form-group has-feedback pull-right">
            <input type="text" ng-model="filterText" class="form-control" placeholder="Search" />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert {{alertClassForDelete}} alert-dismissible" ng-show="showAlertForDelete" role="alert">
            <button type="button" class="close" ng-click="showAlertForDelete=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{alertMsgForDelete}}
        </div>
    </div>

    <div class="col-md-12">
        <div ng-init="formLoad()">
            <table ng-table="tableParams" class="table table-bordered table-striped">
                <tr ng-repeat="item in $data" ng-class="{'danger': item.active === false }">
                    <td data-title="'Name'" sortable="'name'">
                        {{item.name}}
                    </td>
                    <td data-title="'Phone'" sortable="'phone1'">
                        {{item.phone1}}
                    </td>
                    <td data-title="'Email'" sortable="'emailId1'">
                        {{item.emailId1}}
                    </td>
                    <td data-title="'WerbSite'" sortable="'website'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                        {{item.website}}
                    </td>
                    <td data-title="'City'" sortable="'city'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                        {{item.city}}
                    </td>
                    <td data-title="'State'" sortable="'state'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                        {{item.state}}
                    </td>
                    <td data-title="'Country'" sortable="'country'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                        {{item.country}}
                    </td>
                    <td>
                        <button title="Edit" type="button" ng-click="initialize(item.id)" class="btn btn-primary btn-sm glyphicon glyphicon glyphicon-edit" data-container="body" data-template-url="addSponsor.html" data-placement="left" data-auto-close="1" bs-popover></button>
                        <button title="Disable" type="button" ng-show="item.active === true" class="btn btn-warning btn-sm glyphicon glyphicon glyphicon-remove" data-template="deleteSponsor.html" data-placement="left" data-auto-close="1" bs-popover></button>
                        <button title="Enable" type="button" ng-click="enable(item.id, true)" ng-show="item.active === false" class="btn btn-success btn-sm glyphicon glyphicon glyphicon-ok"></button>
                    </td>
                </tr>
            </table>

            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
</div>

    <hr />

<script id="addSponsor.html" type="text/ng-template">
    <div class="popover popover-doublecolumn" data-container="body" tabindex="-1">
        <h3 class="popover-title">Sponsor</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
                    <button type="button" class="close" ng-click="clearAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{alertMsg}}
                </div>
            </div>
        </div>

        <div class="popover-content popover.Form-content">
            <form name="sponsorForm" ng-init="initialize(sponsor.id)">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="name">Name:<span class="required">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" ng-model="sponsor.name" ng-required="true" ng-maxlength="100" class="form-control" name="txtName" placeholder="Enter Name" data-sponsor-unique="{key:sponsor.id, property:sponsorForm.txtName}" />
                                <span class="error" ng-show="sponsorForm.txtName.$dirty && sponsorForm.txtName.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="sponsorForm.txtName.$dirty && sponsorForm.txtName.$error.maxlength">
                                    Sponsoranization name cannot be longer than 100 characters
                                </span>
                                <span class="validation-error" ng-show="sponsorForm.txtName.$dirty && sponsorForm.txtName.$error.isunique">This sponsoranization name is available in the system, please try another</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="name">Website:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="url" class="form-control" name="txtWebsite" ng-maxlength="100" ng-model="sponsor.website" placeholder="Enter Website" />

                                <span class="error" ng-show="sponsorForm.txtWebsite.$dirty && sponsorForm.txtWebsite.$error.maxlength">
                                    Sponsoranization website address cannot be longer than 100 characters
                                </span>
                                <span class="error" ng-show="sponsorForm.txtWebsite.$dirty && sponsorForm.txtWebsite.$error.url">
                                    Not valid website address!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="EmailId1">EmailId1:<span class="required">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="email" class="form-control" name="txtEmailId1" ng-model="sponsor.emailId1" ng-required="true" ng-maxlength="100" placeholder="Enter Primary Email" />
                                <span class="error" ng-show="sponsorForm.txtEmailId1.$dirty && sponsorForm.txtEmailId1.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="sponsorForm.txtEmailId1.$dirty && sponsorForm.txtEmailId1.$error.maxlength">
                                    Primary email cannot be longer than 100 characters
                                </span>
                                <span class="error" ng-show="sponsorForm.txtEmailId1.$dirty && sponsorForm.txtEmailId1.$error.email">
                                    Not valid email!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="Phone1">Phone1:<span class="required">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="txtPhone1" ng-model="sponsor.phone1" ng-required="true" ng-maxlength="15" placeholder="Enter Primary Phone" />
                                <span class="error" ng-show="sponsorForm.txtPhone1.$dirty && sponsorForm.txtPhone1.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="sponsorForm.txtPhone1.$dirty && sponsorForm.txtPhone1.$error.maxlength">
                                    Primary Phone cannot be longer than 15 characters
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="Address1">Address1:<span class="required">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="txtAddress1" ng-model="sponsor.address1" ng-required="true" ng-maxlength="100" placeholder="Address1" />
                                <span class="error" ng-show="sponsorForm.txtAddress1.$dirty && sponsorForm.txtAddress1.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="sponsorForm.txtAddress1.$dirty && sponsorForm.txtAddress1.$error.maxlength">
                                    Address1 cannot be longer than 100 characters
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="city">City:<span class="required">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="txtCity" ng-model="sponsor.city" ng-required="true" ng-maxlength="100" placeholder="City" />
                                <span class="error" ng-show="sponsorForm.txtCity.$dirty && sponsorForm.txtCity.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="sponsorForm.txtCity.$dirty && sponsorForm.txtCity.$error.maxlength">
                                    City cannot be longer than 100 characters
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="PrimaryLanguage">Country:<span class="required">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <select class="form-control" chosen allow-single-deselect="true" disable-search="true" data-placeholder-text-single="'Select Country'" name="ddPrimaryLanguage" name="ddCountry" ng-required="true" ng-model="sponsor.countryId" ng-options="country.id as country.name for country in countries">
                                    <option value=""></option>
                                </select>
                                <span class="error" ng-show="sponsorForm.ddCountry.$dirty && sponsorForm.ddCountry.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="State">State:<span class="required">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <select class="form-control" name="ddState" ng-required="true" ng-disabled="sponsor.countryId == ''" ng-model="sponsor.stateId" ng-options="state.id as state.name for state in states  | filter : {countryId : sponsor.countryId}">
                                    <option value="">Select State</option>
                                </select>
                                <span class="error" ng-show="sponsorForm.ddState.$dirty && sponsorForm.ddState.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-12" for="name">ZipCode:<span class="required">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="txtZipCode" ng-model="sponsor.zipCode" ng-required="true" ng-maxlength="15" placeholder="ZipCode" />
                                <span class="error" ng-show="sponsorForm.txtZipCode.$dirty && sponsorForm.txtZipCode.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="sponsorForm.txtZipCode.$dirty && sponsorForm.txtZipCode.$error.maxlength">
                                    Zip code cannot be longer than 15 characters
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12" style="text-align: center;">
                            <button type="submit" class="btn btn-primary" ng-click="save(sponsorForm);">Save</button>
                            <button type="button" class="btn btn-primary" ng-click="clearAlert();load();$hide()">Close</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</script>
    <script id="deleteSponsor.html" type="text/ng-template">
    <div class="popover popover-delete right" tabindex="-1">
        <div class="arrow" style="top: 50%;"></div>
        <h3 class="popover-title">Are you sure?</h3>
        <div class="popover-content">
            <div class="input-group">
                <div class="form-actions">
                    <button type="button" class="btn-xs btn-primary" ng-click="enable(item.id,false);popover.saved=true;$hide()">Delete</button>
                    <button type="button" class="btn-xs btn-danger" ng-click="$hide()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</script>

