<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <add name="AlayamDBContext" connectionString="Data Source=.;Initial Catalog=AlayamMgmtQA;User Id=dbUser;Password=Brinks01;" providerName="System.Data.SqlClient" />
    <!--<add name="AlayamDBContext" connectionString="Data Source=SQL5033.Smarterasp.net;Initial Catalog=DB_9FFD5B_QAChurchMgnt;User Id=DB_9FFD5B_QAChurchMgnt_admin;Password=Pushpam7900;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AlayamDBContext" connectionString="Data Source=SQL5033.Smarterasp.net;Initial Catalog=DB_9FFD5B_QAChurchMgnt_admin;User Id=DB_9FFD5B_QAChurchMgnt_admin;Password=Pushpam7900;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="AuthContext" connectionString="Data Source=SQL5005.Smarterasp.net;Initial Catalog=DB_9FFD5B_ChurchMgnt;User Id=DB_9FFD5B_ChurchMgnt_admin;Password=Pushpam7900;" providerName="System.Data.SqlClient" />
    <add name="AlayamDBContext" connectionString="Data Source=SQL5005.Smarterasp.net;Initial Catalog=DB_9FFD5B_ChurchMgnt;User Id=DB_9FFD5B_ChurchMgnt_admin;Password=Pushpam7900;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="encryptionKey" value="9atuwravucup2Egat48fbeuy4HAFradAUDR7a3UtIustEpNemafKYavuKSdrajez" />
    <add key="appVersion" value="1.1.0" />
    <add key="environment" value="dev" />
    <!--<add key="environment" value="prod" />-->    
    <add key="tokenValidityInMin" value="180" />
    <add key="Website" value="http://www.qa.churchmgnt.com/" />   
    
    <add key="pdfAPI" value="http://api.html2pdfrocket.com/pdf" />
    <add key="pdfAPIKey" value="5d5e068a-1917-4bd2-89c3-4e6252fb120e" />
    

    <add key="AgeLimitForGroupMember" value="21" />
    <add key="DefaultEmailHeader" value="Dearly beloved in Christ," />
    <add key="ToEmail" value="help.churchmgnt@gmail.com" />
    <add key="SMSEMailToText" value="4695003708@txt.att.net" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPServerPort" value="587" />
    <add key="SMTPServerUserName" value="noreply.churchmgnt@gmail.com" />
    <add key="SMTPServerPassword" value="Pushpam7900" />
    <add key="FromEmailId" value="noreply.churchmgnt@gmail.com" />
    <add key="FromEmailLabel" value="Help.ChurchMgnt.Com" />
  </appSettings>
  <system.web>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
    </securityPolicy>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" requestPathInvalidCharacters="" requestValidationMode="2.0" />    
    <pages validateRequest="false" />
    <!--<machineKey validationKey="BDE5239FBD71982481D87D815FA0A65B9F5982D99DFA96E6D92B782E0952D58818B479B19FF6D95263E85B0209297E6858B57D1E0BD3EFECE5E35742D605F2A7" decryptionKey="8E8496D7342EA258526CF6177E04EA7D208E359C95E60CD2A462FC062B9E41B3" validation="SHA1" decryption="AES" />-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

<log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <!--<connectionString value="data source=SQL5033.Smarterasp.net;initial catalog=DB_9FFD5B_QAChurchMgnt;integrated security=false;persist security info=True;User Id=DB_9FFD5B_QAChurchMgnt_admin;Password=Pushpam7900;" />-->
      <connectionString value="data source=.;initial catalog=AlayamMgmtQA;integrated security=false;persist security info=True;User Id=dbUser;Password=Brinks01;" />
      <commandText>
        <![CDATA[INSERT INTO Log ([AppName],[Date],[Level],[Message],[Exception]) 
                 VALUES ('AlayamMgnt',@log_date, @log_level, @message, @exception)]]>
      </commandText>
      <parameter>
        <parameterName value="@AppName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{AppName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <!--<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="visualgabi@gmail.com" />
      <from value="visualgabi@gmail.com" />
      <subject value="Exception Occurred in FFA Route publish WebAPI DEV" />
      <smtpHost value="smtp.brink1.com" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>-->
    <root>
      <appender-ref ref="AdoNetAppender" />
      <!--<appender-ref ref="SmtpAppender" />-->
      <level value="INFO" />
    </root>
  </log4net>
</configuration>