
        <div class="row" ng-controller="eventCtrl">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Event list
                    </div>
                    <div class="panel-body">

                        <div class="col-md-12">
                            <div class="form-group has-feedback pull-left">
                                <input type="text" ng-model="filterText" class="form-control" placeholder="Search" />
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback pull-right">
                                <button title="Add Event" ng-click="setAction('add')" class="btn btn-success glyphicon glyphicon-plus  pull-right" data-template-url="addEvent.html" data-placement="left" data-auto-close="1" bs-popover></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                            </div>
                        </div>          
                        <div class="col-md-12">
                            <div class="alert {{alertClassForDelete}} alert-dismissible" ng-show="showAlertForDelete" role="alert">
                                <button type="button" class="close" ng-click="showAlertForDelete=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{alertMsgForDelete}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <div class="col-md-12">
                            <div ng-init="formLoad()" class="table-responsive">
                                <table ng-table="tableParams" class="table table-bordered table-striped">
                                    <tr ng-repeat="item in $data" ng-class="{'danger': item.active === false }">
                                        <td data-title="'Name'" sortable="'name'">
                                            {{item.name}}
                                        </td>
                                        <td data-title="'Event Type'" sortable="'eventType'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                                            {{item.eventType}}
                                        </td>
                                        <td data-title="'Branch'" sortable="'branch'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                                            {{item.branch}}
                                        </td>
                                        <td data-title="'Spl Event'" sortable="'isSpecialEvent'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                                            {{item.isSpecialEvent == 1 ? "True" : "False"}}
                                        </td>
                                        <td data-title="'Adult Count'" sortable="'noOfAdultAttended'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                                            {{item.noOfAdultAttended}}
                                        </td>
                                        <td data-title="offeringTitle" sortable="'offering'">
                                            {{item.offering}}
                                        </td>
                                        <td data-title="expenseTitle" sortable="'expense'">
                                            {{item.expense}}
                                        </td>
                                        <td data-title="'Event Date'" sortable="'eventDate'">
                                            {{item.eventDate | date:MM/dd/yyyy}}
                                        </td>
                                        <td>
                                            <button title="Edit" type="button" ng-disabled="disableEditAction(item.eventDate)" ng-click="initialize(item.id)" class="btn btn-primary btn-sm glyphicon glyphicon glyphicon-edit" data-template-url="addEvent.html" data-placement="left" data-auto-close="1" bs-popover></button>
                                            <button title="Disable" type="button" ng-disabled="disableEditAction(item.eventDate)" ng-show="item.active === true" class="btn btn-warning btn-sm glyphicon glyphicon glyphicon-trash" data-template="deleteEvent.html" data-placement="left" data-auto-close="1" bs-popover></button>
                                            <button title="Enable" type="button" ng-disabled="disableEditAction(item.eventDate)" ng-click="enable(item.id, true)" ng-show="item.active === false" class="btn btn-success btn-sm glyphicon glyphicon glyphicon-ok"></button>
                                        </td>
                                    </tr>
                                </table>

                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        No of rows : {{filteredData.length}}
                    </div>
                </div>
            </div>
        </div>
    
            <script id="addEvent.html" type="text/ng-template">
                <div class="popover popover-doublecolumn" data-container="body" tabindex="-1">
                    <h3 class="popover-title">Event</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
                                <button type="button" class="close" ng-click="clearAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{alertMsg}}
                            </div>
                        </div>
                    </div>

                    <div class="popover-content popover.Form-content">
                        <form name="eventForm" ng-init="initialize(event.id)">
                            <div class="form-horizontal">
                                <!--<div class="row">-->
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.name">Name:<span class="PopupRequired">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" ng-model="event.name" ng-required="true" ng-maxlength="100" class="form-control" name="txtName" placeholder="Enter Event Name" />

                                            <span class="error" ng-show="eventForm.txtName.$dirty && eventForm.txtName.$error.required">
                                                Required!
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.eventTypeId">Event Type:<span class="PopupRequired">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select class="form-control" name="ddEventType" ng-required="true" ng-model="event.eventTypeId" ng-options="eventType.id as eventType.name for eventType in eventTypes | filter: availableEventTypes (event.id)">
                                                <option value="">Select Event Type</option>
                                            </select>
                                            <span class="error" ng-show="eventForm.ddEventType.$dirty && eventForm.ddEventType.$error.required">
                                                Required!
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.branchId">Branch:<span class="PopupRequired">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select class="form-control" ng-required="true" name="ddBranch" ng-required="true" ng-model="event.branchId" ng-options="branch.id as branch.name for branch in branches | filter: availableBranches (event.id)">
                                                <option value="">Select Branch</option>
                                            </select>
                                            <span class="error" ng-show="eventForm.ddBranch.$dirty && eventForm.ddBranch.$error.required">
                                                Required!
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.eventDate">Event Date<span class="PopupRequired">*</span></label>
                                        </div>
                                        <div class="col-md-12">

                                            <input type="date" ng-model="event.eventDate" min="{{ rptMinDate() | date:'yyyy-MM-dd' }}" ng-required="true" class="form-control" name="txtEventDate" placeholder="yyyy-MM-dd" />
                                            <span class="error" ng-show="eventForm.txtEventDate.$dirty && eventForm.txtEventDate.$error.min">
                                                Event date should be greater than {{ rptMinDate() | date:'yyyy-MM-dd' }}
                                            </span>
                                            <span class="error" ng-show="eventForm.txtEventDate.$dirty && eventForm.txtEventDate.$error.required">
                                                Required!
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.offering">Offering in {{authentication.currency}}:</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="number" step="0.01" min="0" ng-model="event.offering" ng-maxlength="10" class="form-control" name="txtOffering" placeholder="Enter Offering" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.expense">Expense in {{authentication.currency}}:</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="number" step="0.01" min="0" ng-model="event.expense" ng-maxlength="10" class="form-control" name="txtExpense" placeholder="Enter Expense" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.noOfAdultAttended">No Of Adult Attended:</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="number" min="0" ng-model="event.noOfAdultAttended" ng-maxlength="10" class="form-control" name="txtNoOfAdultAttended" placeholder="Enter No Of Adult Attended" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.noOfMenAttended">No Of Men Attended:</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="number" min="0" ng-model="event.noOfMenAttended" ng-maxlength="10" class="form-control" name="txtNoOfMenAttended" placeholder="Enter No Of Men Attended" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.noOfWomenAttended">No Of Women Attended:</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="number" min="0" ng-model="event.noOfWomenAttended" ng-maxlength="10" class="form-control" name="txtNoOfWomenAttended" placeholder="Enter No Of Women Attended" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.noOfKidsParticipated">No Of Kids Participated:</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="number" min="0" ng-model="event.noOfKidsParticipated" ng-maxlength="10" class="form-control" name="txtNoOfMenAttended" placeholder="Enter No Of Kids Participated" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.isSpecialEvent">Spl Event:</label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="event.isSpecialEvent" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <label class="col-md-12" for="event.description">Notes</label>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea class="form-control" rows="2" ng-model="event.description" ng-maxlength="250" name="txtNotes" placeholder="Enter Description"></textarea>
                                            <span class="error" ng-show="eventForm.txtNotes.$dirty && eventForm.txtNotes.$error.maxlength">
                                                Last name cannot be longer than 250 characters
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="text-align: center;">
                                        <button type="submit" class="btn btn-primary" ng-click="save(eventForm);">Save</button>
                                        <button type="button" class="btn btn-default" ng-click="clearAlert();load();$hide()">Close</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
        </div>
    </script>

    <script id="deleteEvent.html" type="text/ng-template">
        <div class="popover popover-delete right" tabindex="-1">
            <div class="arrow" style="top: 50%;"></div>
            <h3 class="popover-title">Are you sure?</h3>
            <div class="popover-content">
                <div class="input-group">
                    <div class="form-actions">
                        <button type="button" class="btn-xs btn-danger" ng-click="enable(item.id,false);popover.saved=true;$hide()">Delete</button>
                        <button type="button" class="btn-xs btn-default" ng-click="$hide()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </script>


