

<div class="col-md-12" ng-controller="contributionPrintCtrl" ng-init="initialize()">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4">
                    <img style="width:100px;height:100px" ng-show="logoImage != null" ng-src="{{logoImage}}" alt="profile-picture" />                    
                </div>
                <div class="col-md-4" style="text-align: center">
                    <p>
                        <b> {{orgBasicData.name}} </b><br />{{orgBasicData.address1}}<br />{{orgBasicData.city}}<br /> {{orgBasicData.state}},{{orgBasicData.zipCode}}
                    </p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-12">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left">
                            <b>Tax Id :</b> {{orgBasicData.taxId}}
                        </td>
                        <td style="text-align: right">
                            <b>Date :</b> {{today | date:MM/dd/yyyy }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12" ng-if="reportType==1 || reportType==2">
                <span class="col-sd-4">
                    <b> {{familyMembers}}</b>
                </span>
                <p>
                    {{familyBasicData.address1}},<br />{{familyBasicData.city}},<br /> {{familyBasicData.state}} - {{familyBasicData.zipCode}}
                </p>
            </div>
            <div class="col-md-12" ng-if="reportType==3">
                <span class="col-sd-4">
                    <b> {{familyMembers}}</b>
                </span>
                <p>
                    {{sponsor.address1}},<br />{{sponsor.city}},<br /> {{sponsor.state}} - {{sponsor.zipCode}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <p ng-if="reportType==1">
                <b>Contribution report</b><br />
                {{offeringSearchFamily.startDate | date:MM/dd/yyyy}} to {{offeringSearchFamily.endDate | date:MM/dd/yyyy}}
            </p>
            <p ng-if="reportType==2">
                <b>Contribution report</b><br />
                {{offeringSearchFamilyMember.startDate | date:MM/dd/yyyy}} to {{offeringSearchFamilyMember.endDate | date:MM/dd/yyyy}}
            </p>
            <p ng-if="reportType==3">
                <b>Contribution report</b><br />
                {{offeringSearchSponsor.startDate | date:MM/dd/yyyy}} to {{offeringSearchSponsor.endDate | date:MM/dd/yyyy}}
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left">
                            <b>Total Contribution</b> : {{orgBasicData.currency}} {{totalOffering}}
                        </td>
                        <td style="text-align: right">
                            <b>Page :</b> 1 of {{filteredFamilyOfferings.length +1}}
                        </td>
                    </tr>                    
                </table>                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>    
        <table id="tblFamily" class="table table-bordered table-striped">
            <tr>
                <th>
                    Payment Type
                </th>
                <th>
                    Amount in  {{orgBasicData.currency}}
                </th>
                <th>
                    Offering Date
                </th>
                <th>
                    RefNo
                </th>
            </tr>
            <tr ng-if="reportType==1" ng-repeat="familyOffering in familyOfferings.slice(0, 25)">
                <td>
                    {{familyOffering.paymentType}}
                </td>
                <td>
                    {{familyOffering.amount}}
                </td>
                <td>
                    {{familyOffering.offeringDate | date:MM/dd/yyyy}}
                </td>
                <td>
                    {{familyOffering.transactionNumber}}
                </td>
            </tr>

            <tr ng-if="reportType==2" ng-repeat="familyMemberOffering in familyMemberOfferings.slice(0, 25)">
                <td>
                    {{familyMemberOffering.paymentType}}
                </td>
                <td>
                    {{familyMemberOffering.amount}}
                </td>
                <td>
                    {{familyMemberOffering.offeringDate | date:MM/dd/yyyy}}
                </td>
                <td>
                    {{familyMemberOffering.transactionNumber}}
                </td>
            </tr>
            <tr ng-if="reportType==3" ng-repeat="sponsorOffering in sponsorOfferings.slice(0, 25)">
                <td>
                    {{sponsorOffering.paymentType}}
                </td>
                <td>
                    {{sponsorOffering.amount}}
                </td>
                <td>
                    {{sponsorOffering.offeringDate | date:MM/dd/yyyy}}
                </td>
                <td>
                    {{sponsorOffering.transactionNumber}}
                </td>
            </tr>
        </table> 

    <div style="page-break-before: always" ng-repeat="filteredFamilyOffering in filteredFamilyOfferings">
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <table style="width:100%">
                        <tr>                          
                            <td style="text-align: right">
                                <b>Page :</b> {{$index+2}} of {{filteredFamilyOfferings.length +1}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <table id="tblFamily" class="table table-bordered table-striped">
            <tr>
                <th>
                    Payment Type
                </th>
                <th>
                    Amount in  {{orgBasicData.currency}}
                </th>
                <th>
                    Offering Date
                </th>
                <th>
                    RefNo
                </th>
            </tr>
            <tr ng-if="reportType==1" ng-repeat="familyOffering in filteredFamilyOffering.offeringData">
                <td>
                    {{familyOffering.paymentType}}
                </td>
                <td>
                    {{familyOffering.amount}}
                </td>
                <td>
                    {{familyOffering.offeringDate | date:MM/dd/yyyy}}
                </td>
                <td>
                    {{familyOffering.transactionNumber}}
                </td>
            </tr>      
        </table>
    </div>

    <div style="page-break-before: always" ng-repeat="filteredFamilyMemberOffering in filteredFamilyMemberOfferings">
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: right">
                                <b>Page :</b> {{$index+2}} of {{filteredFamilyMemberOfferings.length +1}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <table id="tblFamily" class="table table-bordered table-striped">
            <tr>
                <th>
                    Payment Type
                </th>
                <th>
                    Amount in  {{orgBasicData.currency}}
                </th>
                <th>
                    Offering Date
                </th>
                <th>
                    RefNo
                </th>
            </tr>
            <tr ng-if="reportType==1" ng-repeat="familyMemberOffering in filteredFamilyMemberOffering.offeringData">
                <td>
                    {{familyMemberOffering.paymentType}}
                </td>
                <td>
                    {{familyMemberOffering.amount}}
                </td>
                <td>
                    {{familyMemberOffering.offeringDate | date:MM/dd/yyyy}}
                </td>
                <td>
                    {{familyMemberOffering.transactionNumber}}
                </td>
            </tr>
        </table>
    </div>

    <div style="page-break-before: always" ng-repeat="filteredSponsorOffering in filteredSponsorOfferings">
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: right">
                                <b>Page :</b> {{$index+2}} of {{filteredSponsorOfferings.length +1}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <table id="tblFamily" class="table table-bordered table-striped">
            <tr>
                <th>
                    Payment Type
                </th>
                <th>
                    Amount in  {{orgBasicData.currency}}
                </th>
                <th>
                    Offering Date
                </th>
                <th>
                    RefNo
                </th>
            </tr>
            <tr ng-if="reportType==1" ng-repeat="sponsorOffering in filteredSponsorOffering.offeringData">
                <td>
                    {{sponsorOffering.paymentType}}
                </td>
                <td>
                    {{sponsorOffering.amount}}
                </td>
                <td>
                    {{sponsorOffering.offeringDate | date:MM/dd/yyyy}}
                </td>
                <td>
                    {{sponsorOffering.transactionNumber}}
                </td>
            </tr>
        </table>
    </div>

        <div class="col-md-12">
            &nbsp;
        </div>

        <div class="col-md-12">
            <p ng-show="contributionMsg ==''">
                The IRS requires that individual contributions of $250.00 or more be listed separately to ensure tax deductibility.
                Contributions to <b>{{orgBasicData.name}}</b> are tax deductible. Statements that are not questioned within 90 days will be considered to be accurate. No goods or services were provided by <b>{{orgBasicData.name}}</b> in connection with any contribution,
                or their value were insignificant or
                consisted entirely of intangible religious benefits.
            </p>
            <p ng-show="contributionMsg !=''">
                {{contributionMsg}}
            </p>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
       
    <div class="col-md-12">
        <p>
            Thank you for your generous gifts last year!
        </p>
        <div class="col-md-12">
            <br />
            <img style="width:200px;height:100px" ng-show="signatureImage != null" src="{{signatureImage}}" alt="profile-picture">
        </div>
        <div class="col-md-12" ng-show="signatureImage == null">
            <br />
            <br />
        </div>
        <div class="col-md-12">
            &nbsp;
        </div>
        <p>
            <b>Pastor </b>{{familyOfferingDetails.pastorName}}
        </p>
    </div>


        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>


