
<div class="col-md-12" ng-controller="samplePrintCtrl" ng-init="initialize()">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="col-md-12">        
        <p>
            <b>Pastor </b>{{familyOfferingDetails.pastorName}}
        </p>
    </div>


    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
</div>


