<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>

    <div class="col-md-12">
        <span class="lead">SubExpense Type.</span>
        <button title="Add SubExpense Type" ng-click="setAction('add')" class="btn btn-success glyphicon glyphicon-plus  pull-right" data-template-url="addSubExpenseType.html" data-placement="left" data-auto-close="1" bs-popover></button>

        <hr />
    </div>

    <div class="col-md-12">
        <div class="form-group has-feedback pull-right">
            <input type="text" ng-model="filterText" class="form-control" placeholder="Search" />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <div class="col-md-12">
            <div class="alert {{alertClassForDelete}} alert-dismissible" ng-show="showAlertForDelete" role="alert">
                <button type="button" class="close" ng-click="showAlertForDelete=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{alertMsgForDelete}}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div ng-init="formLoad()">
            <table ng-table="tableParams" class="table table-bordered table-striped">
                <tr ng-repeat="item in $data" ng-class="{'danger': item.active === false }">
                    <td data-title="'Name'" sortable="'name'">
                        {{item.name}}
                    </td>
                    <td data-title="'Description'" sortable="'description'" class="hidden-sm hidden-xs hidden-md" header-class="'hidden-sm hidden-xs hidden-md'">
                        {{item.description}}
                    </td>
                    <td data-title="'Expense Type'" sortable="'ExpenseType'">
                        {{item.expenseType}}
                    </td>
                    <td>
                        <button title="Edit" type="button" ng-click="initialize(item.id)" class="btn btn-primary btn-sm glyphicon glyphicon glyphicon-edit" data-template-url="addSubExpenseType.html" data-placement="left" data-auto-close="1" bs-popover></button>
                        <button title="Disable" type="button" ng-show="item.active === true" class="btn btn-warning btn-sm glyphicon glyphicon glyphicon-remove" data-template="deleteSubExpenseType.html" data-placement="left" data-auto-close="1" bs-popover></button>
                        <button title="Enable" type="button" ng-click="enable(item.id, true)" ng-show="item.active === false" class="btn btn-success btn-sm glyphicon glyphicon glyphicon-ok"></button>
                    </td>
                </tr>
            </table>

            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
</div>
    <hr />

    <script id="addSubExpenseType.html" type="text/ng-template">
        <div class="popover popover-singlecolumn" tabindex="-1">
            <h3 class="popover-title">SubExpense Type</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
                        <button type="button" class="close" ng-click="clearAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{alertMsg}}
                    </div>
                </div>
            </div>

            <div class="popover-content popover.Form-content">
                <form name="subExpenseTypeForm" ng-init="initialize(subExpenseType.id)">
                   
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-12">
                                <label class="control-label col-md-12" for="subExpenseType.expenseType">Expense Type:<span class="PopupRequired">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <select class="form-control" name="ddExpenseType" chosen allow-single-deselect="true" disable-search="true" data-placeholder-text-single="'Select Expense Type'" ng-model="subExpenseType.expenseTypeId" ng-required="true" ng-options="expenseType.id as expenseType.name for expenseType in expenseTypes  | filter: availableExpenseTypes(subExpenseType.id)">
                                    <option value=""></option>
                                </select>
                                <span class="error" ng-show="subExpenseTypeForm.ddExpenseType.$dirty && subExpenseTypeForm.ddExpenseType.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row hidden-sm hidden-xs">
                        <div class="form-group">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-12" for="subExpenseType.name">SubExpense Type:<span class="PopupRequired">*</span></label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" ng-model="subExpenseType.name" ng-maxlength="250" ng-required="true" class="form-control" name="txtName" placeholder="Enter subExpense Type" ng-blur="isUnique(subExpenseType.id, subExpenseType.expenseTypeId, subExpenseType.name, subExpenseTypeForm.txtName)" />
                                <span class="error" ng-show="subExpenseTypeForm.txtName.$dirty && subExpenseTypeForm.txtName.$error.required">
                                    Required!
                                </span>
                                <span class="validation-error" ng-show="subExpenseTypeForm.txtName.$dirty && subExpenseTypeForm.txtName.$error.isunique">This subExpense Type is available in the system, please try another</span>
                            </div>
                        </div>
                    </div>

                    <div class="row hidden-sm hidden-xs">
                        <div class="form-group">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-12" for="subExpenseType.description">Description:</label>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="2" ng-model="subExpenseType.description" ng-maxlength="250" name="txtDescription" placeholder="Enter Description"></textarea>
                                <span class="error" ng-show="subExpenseTypeForm.txtDescription.$dirty && subExpenseTypeForm.txtDescription.$error.maxlength">
                                    Last name cannot be longer than 250 characters
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row hidden-sm hidden-xs">
                        <div class="form-group">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp;
                                <button type="submit" class="btn btn-primary" ng-click="save(subExpenseTypeForm);">Save</button>
                                <button type="button" class="btn btn-primary" ng-click="clearAlert();load();$hide()">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script id="deleteSubExpenseType.html" type="text/ng-template">
    <div class="popover popover-delete right" tabindex="-1">
        <div class="arrow" style="top: 50%;"></div>
        <h3 class="popover-title">Are you sure?</h3>
        <div class="popover-content">
            <div class="input-group">
                <div class="form-actions">
                    <button type="button" class="btn-xs btn-primary" ng-click="enable(item.id,false);popover.saved=true;$hide()">Delete</button>
                    <button type="button" class="btn-xs btn-danger" ng-click="$hide()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</script>
