<div class="row" ng-controller="changePasswordCtrl">
    <div class="col-md-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Change Password
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
                        <button type="button" class="close" ng-click="showAlert=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{alertMsg}}
                    </div>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="col-md-12"  ng-if="authentication.isAuth && authentication.role !=1">
                    <form name="changePasswordForm">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"><label class="control-label" for="username">New password</label></div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <input type="password" title="Please enter new password" ng-minlength="5" maxlength="10" data-ng-model="changePassword.password" placeholder="******" name="password" id="password" class="form-control">
                                    <span class="error" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.required">
                                        Required!
                                    </span>
                                    <span class="error" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.minlength">
                                        Password should have minimum 5 characters
                                    </span>
                                    <span class="error" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.maxlength">
                                        Password cannot be longer than 10 characters
                                    </span>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                         </div>
                        <div class="form-group"><div class="col-md-12">&nbsp;</div></div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"><label class="control-label" for="password">Confirm Password</label></div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <input type="password" title="Please enter confirm password" maxlength="10" data-ng-model="changePassword.confirmPassword" placeholder="******" name="confirmPassword" id="confirmPassword" class="form-control">
                                        <span class="error" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.required">
                                            Required!
                                        </span>
                                        <span class="error" ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$error.maxlength">
                                            Password cannot be longer than 10 characters
                                        </span>
                                        <span class="error" ng-show="changePasswordForm.confirmPassword.$dirty && changePassword.confirmPassword != changePassword.password">
                                            Password and confirm password are not same
                                        </span>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        <div class="form-group"><div class="col-md-12">&nbsp;</div></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <button class="btn btn-success btn-block" type="submit" ng-click="change(changePasswordForm)">Submit</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="reset" class="btn btn-default" ng-click="reset()">Cancel</button>
                                        </div>
                                    </div>                                        
                                    </div>
                                <div class="col-md-4"></div>
                            </div>                          
                        </div>
</form>
                </div>
                            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>

