<div class="col-md-12">
    &nbsp;
</div>
<div class="col-md-12">
    <h4>Please enter your email.</h4>
    <hr />
</div>

<form class="form-signin" name="forgotPwdForm">
    <div class="form-group">
        <input type="email" class="form-control" ng-required="true" ng-maxlength="250" id="email" placeholder="Enter email" data-ng-model="forgotPwd.email" required autofocus>
        <span class="error" ng-show="userLoginForm.email.$dirty && userLoginForm.email.$error.required">
            Required!
        </span>
        <span class="error" ng-show="userLoginForm.email.$dirty && userLoginForm.email.$error.maxlength">
            User name cannot be longer than 250 characters
        </span>
    </div>  
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="forgotPwd(forgotPwdForm)">Submit</button>
    </div>

    <div data-ng-hide="message == ''" class="alert alert-danger">
        {{message}}
    </div>
</form>
