<div class="navbar navbar-default navbar-fixed-bottom">
    <!--<div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>        
    </div>-->
    <div class="collapse navbar-collapse">       
        <ul class="nav navbar-nav navbar">          
            <li class="text-muted">&copy; 2015 DYIL All Rights reserved</li>
        </ul>
        <ul class="nav navbar-nav-right">
            <li class="pull-right"><a class="pull-right" href="#contact">Contact</a></li>
        </ul>
    </div>
</div>
