<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand active" ng-if="authentication.isAuth && authentication.role==1" href="#/default">Alayam Mgmt</a>
        <a class="navbar-brand active" ng-if="authentication.isAuth && authentication.role !=1" href="#/default">Welcome to {{authentication.orgName}}</a>
    </div>
    <div class="collapse navbar-collapse">    
        <ul class="nav navbar-nav navbar-right" ng-if="authentication.isAuth">
            <li><a href="#/">{{authentication.userName}}<i class="fa fa-user fa-fw"></i></a></li>
        </ul>
    </div>
</div>


