<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>

    <div class="col-md-12">
        <span class="lead">Branch List.</span>
        <a title="Add" type="button" class="btn btn-success glyphicon glyphicon-plus pull-right" href="#/admin/branch"></a>
        <hr />
    </div>


    <div class="col-md-12">
        <div class="alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
            <button type="button" class="close" ng-click="showAlert=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{alertMsg}}
        </div>
    </div>


    <div class="col-md-12">
        <div class="form-group has-feedback pull-right">
            <input type="text" ng-model="filterText" class="form-control" placeholder="Search" />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div ng-init="formLoad()">

            <table ng-table="tableParams" class="table table-bordered table-striped">
                <tr ng-repeat="branch in $data" ng-class="{'danger': branch.active === false }">
                    <td data-title="'Name'" sortable="'name'">
                        {{branch.name}}
                    </td>
                    <td data-title="'Phone'" sortable="'phone1'">
                        {{branch.phone1}}
                    </td>
                    <td data-title="'Email'" sortable="'emailId1'">
                        {{branch.emailId1}}
                    </td>
                    <td data-title="'EthnicOrigin'" sortable="'ethnicOrigin'">
                        {{branch.ethnicOrigin}}
                    </td>
                    <td data-title="'Language'" sortable="'primaryLanguage'">
                        {{branch.active}}
                    </td>
                    <td data-title="'State'" sortable="'state'">
                        {{branch.state}}
                    </td>
                    <td data-title="'Country'" sortable="'country'">
                        {{branch.country}}
                    </td>
                    <td data-title="'Action'">
                        <a type="button" title="Details" href="#/admin/branchDtls/{{branch.id}}" class="btn btn-info btn-sm glyphicon glyphicon-folder-open"></a>
                        <a title="Edit" type="button" href="#/admin/branch/{{branch.id}}" class="btn btn-primary btn-sm glyphicon glyphicon glyphicon-edit"></a>
                        <button title="Disable" type="button" ng-show="branch.active === true" class="btn btn-warning btn-sm glyphicon glyphicon glyphicon-remove" data-template="deleteBranch.html" data-placement="left" data-auto-close="1" bs-popover></button>
                        <button title="Enable" type="button" ng-click="enableBranch(branch.id, true)" ng-show="branch.active === false" class="btn btn-success btn-sm glyphicon glyphicon glyphicon-ok"></button>
                    </td>
                </tr>
            </table>

            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
</div>
    <hr />

    <script id="deleteBranch.html" type="text/ng-template">
    <div class="popover popover-delete right" tabindex="-1">
        <div class="arrow" style="top: 50%;"></div>
        <h3 class="popover-title">Are you sure?</h3>
        <div class="popover-content">
            <div class="input-group">
                <div class="form-actions">
                    <button type="button" class="btn-xs btn-primary" ng-click="enableBranch(branch.id,false);popover.saved=true;$hide()">Delete</button>
                    <button type="button" class="btn-xs btn-danger" ng-click="$hide()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</script>

