<!-- This is content container for nested view in UI-Router-->
<!-- You can put here any constant element in app content for example: Page title or breadcrum -->
<!-- Header -->
<div id="header" ng-include="'app/views/layout/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'app/views/layout/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="content">
        <div ui-view animate-panel>
            <div class="row" ng-controller="orgDtlsCtrl">
                <div class="col-md-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Organization Details.
                        </div>
                        <div class="panel-body">

                            <div class="row" ng-controller="orglstCtrl">                            

                                <div class="col-md-12">
                                    <div class="form-group has-feedback pull-left">
                                        <input type="text" ng-model="filterText" class="form-control" placeholder="Search" />
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                    <div>&nbsp;
                                        <button title="Add Org" class="btn btn-success glyphicon glyphicon-plus btn-xs" ui-sref="orgAdd"></button>                                                                
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    &nbsp;
                                </div>

                                <div class="col-md-12">
                                    <div class="alert {{alertClass}} alert-dismissible" ng-show="showAlert" role="alert">
                                        <button type="button" class="close" ng-click="showAlert=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{alertMsg}}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    &nbsp;
                                </div>

                                <div class="col-md-12">

                                    <div ng-init="formLoad()">

                                        <table ng-table="tableParams" class="table table-bordered table-striped">
                                            <tr ng-repeat="org in $data" ng-class="{'danger': org.active === false }">
                                                <td data-title="'Name'" sortable="'name'">
                                                    {{org.name}}
                                                </td>
                                                <td data-title="'Phone'" sortable="'phone1'">
                                                    {{org.phone1}}
                                                </td>
                                                <td data-title="'Email'" sortable="'emailId1'" class="hidden-sm hidden-xs" header-class="'hidden-sm hidden-xs'">
                                                    {{org.emailId1}}
                                                </td>
                                                <td data-title="'Denomination'" sortable="'denomination'" class="hidden-sm hidden-xs" header-class="'hidden-sm hidden-xs'">
                                                    {{org.denomination}}
                                                </td>
                                                <td data-title="'EthnicOrigin'" sortable="'ethnicOrigin'" class="hidden-sm hidden-xs" header-class="'hidden-sm hidden-xs'">
                                                    {{org.ethnicOrigin}}
                                                </td>
                                                <td data-title="'Language'" sortable="'primaryLanguage'" class="hidden-sm hidden-xs" header-class="'hidden-sm hidden-xs'">
                                                    {{org.primaryLanguage}}
                                                </td>
                                                <td data-title="'State'" sortable="'state'" class="hidden-sm hidden-xs" header-class="'hidden-sm hidden-xs'">
                                                    {{org.state}}
                                                </td>
                                                <td data-title="'Country'" sortable="'country'" class="hidden-sm hidden-xs" header-class="'hidden-sm hidden-xs'">
                                                    {{org.country}}
                                                </td>
                                                <td data-title="'Action'">
                                                    <a title="Details" ui-sref="orgDtls({id:{{org.id}}})" class="fa fa-ellipsis-h"></a>
                                                    <!--<a type="button" title="Details" ui-sref="orgDtls({id:{{org.id}}})" class="btn btn-info btn-sm glyphicon glyphicon-folder-open"></a>
                                                    <a title="Edit" type="button" ui-sref="orgEdit({id:{{org.id}}})" class="btn btn-primary btn-sm glyphicon glyphicon glyphicon-edit"></a>
                                                    <button title="Disable" type="button" ng-show="org.active === true" class="btn btn-warning btn-sm glyphicon glyphicon glyphicon-trash" data-template="deleteOrg.html" data-placement="left" data-auto-close="1" bs-popover></button>
                                                    <button title="Enable" type="button" ng-click="enableOrg(org.id, true)" ng-show="org.active === false" class="btn btn-success btn-sm glyphicon glyphicon glyphicon-ok"></button>-->
                                                </td>
                                            </tr>
                                        </table>

                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            No of rows : {{filteredData.length}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right sidebar -->   

    <!-- Footer -->
    <footer class="footer" ng-include="'app/views/layout/footer.html'"></footer>


</div>
<script id="deleteOrg.html" type="text/ng-template">
    <div class="popover popover-delete right" tabindex="-1">
        <div class="arrow" style="top: 50%;"></div>
        <h3 class="popover-title">Are you sure?</h3>
        <div class="popover-content">
            <div class="input-group">
                <div class="form-actions">
                    <button type="button" class="btn-xs btn-danger" ng-click="enableOrg(org.id,false);popover.saved=true;$hide()">Delete</button>
                    <button type="button" class="btn-xs btn-default" ng-click="$hide()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</script>

