<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>            
            <div class="brand-desc">
                &nbsp;
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">            
            <ul class="nav navbar-nav navbar-left">                
                <li class="active"><div><br /><a href="http://www.churchmgnt.com/" target="_blank" class="btn btn-success btn-sm" style="color:white">Existing Customer</a></div> </li>               
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>                
                <li><a class="page-scroll" page-scroll href="#features">Features</a></li>
                <li><a class="page-scroll" page-scroll href="#Services">Services</a></li>                
                <li><a class="page-scroll" page-scroll href="#pricing">Pricing </a></li>                
                <li><a class="page-scroll" page-scroll href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<header id="page-top">
    <div class="container">
        <div class="heading">
            <h1>
                Welcome to ChurchMgnt
            </h1>
            <span>Take your church ministry to the next level.<br /> Cloud-based Church Administration Software Solution.</span>
            <p class="small">
                ChurchMgnt is changing how churches view the role of technology in ministry. It's not geeky or complicated. It's approachable, useful, and a part of everyday life. We're thrilled about what lies ahead, and we're working hard to be faithful with the passion God has given our team.
            </p>
            <a class="btn btn-success btn-sm page-scroll" page-scroll href="#features">Learn more</a>            
        </div>
        <div class="heading-image" animate-panel child="img-animate" effect="fadeInRight">
            <p class="small">ChurchMgnt is about more than just technology.</p>
           
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-4 pe-7s-server text-success icon-big"></div>
                <h4>Automatic Backups</h4>
                <p>We perpetually back up your data for you so that you never need to worry about losing it.</p>
                <p><!--<a class="navy-link btn btn-sm" href="#" role="button">Learn more</a>--></p>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 pe-7s-shuffle text-success icon-big"></div>
                <h4>Updated Regularly</h4>
                <p>New features and improvements are pushed out to ChurchMgnt as soon as they're ready. No waiting.</p>
                <p><!--<a class="navy-link btn btn-sm" href="#" role="button">Learn more</a>--></p>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 pe-7s-cloud-upload text-success icon-big"></div>
                    <h4>Exciting Roadmap Ahead</h4>
                    <p>This is just the beginning. We have huge plans for ChurchMgnt and how it will ignite church ministry.</p>
                    <p><!--<a class="navy-link btn btn-sm" href="#" role="button">Learn more</a>--></p>
                </div>
        </div>
    </div>
</section>

<section id="features" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><span class="text-success">One solution</span> Many component.</h2>
                <p>ChurchMgnt puts your most important ministry responsibilities all under one roof. It's one place perform your church administration, accounting, and community tasks. And it's the one place your church can stay informed, connected, and focused on multiplying your ministry.</p>
            </div>
        </div>
        <div class="row m-t-md">
            <div class="col-md-3">
                <h4 class="m-t-xxxl">Dashboard</h4>
                <p>See all your church important day today data from dashboard.</p>
            </div>
            <div class="col-md-9">
                <img src="images/features/dashboard.png" class="img-responsive">
            </div>
        </div>
        <div class="row m-t-xl">
            <div class="col-md-9">
                <img src="images/features/analytics.png" class="img-responsive">
            </div>
            <div class="col-md-3">
                <h4 class="m-t-xxl">Analytics</h4>
                <p>The systematic computational analysis of your church data. These analytics can help you understand where we are now..</p>
            </div>
        </div>
        <div class="row  m-t-xl">
            <div class="col-md-6">
                <h4 class="m-t-xxl">MemberCare</h4>
                <p>Nurture your members with a full picture of their involvement using our 360° member view.</p>
            </div>
            <div class="col-md-6">
                <img src="images/features/memberCare.png" class="img-responsive">
            </div>
        </div>
        <div class="row m-t-xl">
            <div class="col-md-6">
                <img src="images/features/offering.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h4 class="m-t-xxl">Offering</h4>
                <p>Enter contributions quickly and accurately.</p>
            </div>
        </div>
        <div class="row  m-t-xl">
            <div class="col-md-6">
                <h4 class="m-t-xxl">Expense</h4>
                <p>Manage all your expenses in one place.</p>
            </div>
            <div class="col-md-6">
                <img src="images/features/expense.png" class="img-responsive">
            </div>
        </div>
        <div class="row m-t-xl">
            <div class="col-md-6">
                <img src="images/features/event.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h4 class="m-t-xxl">Event</h4>
                <p>Manage your church’s events online with schedules and capture detailed information.</p>
            </div>
        </div>
    </div>
</section>

<section id="Services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2><span class="text-success">Services </span> we offer</h2>
                <p>
                    When you have questions or technical issues, our CjurchMgnt Support team stands ready to supply real solutions. They are dedicated to getting you through your roadblock and back on the path as quickly as possible.
                </p>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-md-4 col-md-offset-2">
                <strong>Education Services</strong>
                <p>Our ChuchMgnt team knows church AND technology. In addition to church software, we are always expanding our selection of training and education opportunities to help you take full advantage of your software investment.</p>
                <!--<a class="btn btn-success btn-sm">Learn more</a>-->
            </div>
            <div class="col-md-4">
                <strong>Learn from the best</strong>
                <p>Invite one of our specialists to come out to your church and train your staff, or take advantage of our personalized training over the phone with a shared screen.</p>
                <!--<a class="btn btn-success btn-sm">Learn more</a>-->
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-md-4 col-md-offset-2">
                <strong>Evaluate.</strong>
                <p>Onsite visit to assess your church’s objectives, existing technologies, congregational engagement points, end-user needs, and key ministry processes.</p>
                <!--<a class="btn btn-success btn-sm">Learn more</a>-->
            </div>
            <div class="col-md-4">
                <strong>We'll Move You In.</strong>
                <p>Transferring your data to a new system can be a hassle. That's why we'll do it for you at no extra charge when you sign up.</p>
                <!--<a class="btn btn-success btn-sm">Learn more</a>-->
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-success">Compare </span>Plans</h2>
                <p>Each plan builds upon the feature set available in the preceding plan. </p>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-6">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Standard
                    </li>
                    <li class="pricing-desc">
                        Each plan builds upon the feature set available in the preceding plan.
                    </li>
                    <li class="pricing-price">
                        <span>Free </span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Analytics
                    </li>                    
                    <li>
                        Membercare
                    </li>
                    <li>
                        Offering & Expense Management
                    </li>
                    <li>
                        Event Management
                    </li>
                    <li>
                        Pledge Management
                    </li>
                    <li>
                        Reports
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm page-scroll" href="#contact">Contact us today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Premium
                    </li>
                    <li class="pricing-desc">
                        Each plan builds upon the feature set available in the preceding plan.
                    </li>
                    <li class="pricing-price">
                        <span>$9.99 </span>
                    </li>
                    <li>
                        Dashboards
                        <br />
                    </li>
                    <li>
                        Analytics
                    </li>
                    <li>
                        Membercare
                    </li>
                    <li>
                        Offering & Expense Management
                    </li>
                    <li>
                        Event Management
                    </li>
                    <li>
                        Pledge Management
                    </li>
                    <li>
                        Reports
                    </li>
                    <li>
                        Communication
                    </li>
                    <!--<li>
                        Mobile App
                    </li>-->
                    <li class="plan-action">
                        <a class="btn btn-primary btn-sm page-scroll" href="#contact">Contact us today</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Contact with us</span> anytime</h2>
                <p>
                    Ideas, problems, suggestions? We would love to hear from you. Please contact us using the information below or by filling out the following form. A ChurchMgnt representative will get back to you as soon as possible.
                </p>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-6" ng-controller="homeCtrl">
                <form class="form-horizontal" name="contactForm">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" ng-required="true" data-ng-model="contactData.name" placeholder="Your full name" maxlength="50">
                            <span class="error" ng-show="contactForm.name.$dirty && contactForm.name.$error.required">
                                Required!
                            </span>
                            <span class="error" ng-show="contactForm.name.$dirty && userLoginForm.username.$error.maxlength">
                                User name cannot be longer than 50 characters
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone</label>

                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="phone" name="phone" ng-required="true" data-ng-model="contactData.phone" placeholder="(000)-000-0000" maxlength="15">
                            <span class="error" ng-show="contactForm.phone.$dirty && contactForm.phone.$error.required">
                                Required!
                            </span>
                            <span class="error" ng-show="contactForm.phone.$dirty && contactForm.phone.$error.maxlength">
                                Phone number cannot be longer than 15 characters
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" ng-required="true" data-ng-model="contactData.email" placeholder="user@example.com" maxlength="50">
                            <span class="error" ng-show="contactForm.email.$dirty && contactForm.email.$error.required">
                                Required!
                            </span>
                            <span class="error" ng-show="contactForm.email.$dirty && contactForm.email.$error.maxlength">
                                EmailId cannot be longer than 50 characters
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Message</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="message" ng-required="true" data-ng-model="contactData.message" placeholder="Your message here..." maxlength="250"></textarea>
                            <span class="error" ng-show="contactForm.message.$dirty && contactForm.message.$error.required">
                                Required!
                            </span>
                            <span class="error" ng-show="contactForm.message.$dirty && contactForm.message.$error.maxlength">
                                Message cannot be longer than 250 characters
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <input id="submit" name="submit" type="submit" value="Send us a message" class="btn btn-success" ng-click="notity(contactForm)">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-3">
                <address>
                    <strong><span class="navy">USA.</span></strong><br />
                    8610, Valley Ranch PWKY, <br />
                    Irving, TX 75063<br />
                    <abbr title="Phone">P:</abbr>(+1) (760) 405-3565
                </address>
            </div>
            <!--<div class="col-lg-3">
                <address>
                    <strong><span class="navy">India.</span></strong><br />
                    57C Raja Tower, <br />
                    Palayamkottai, Tirunelveli<br />
                    Tamil Nadu, India - 627351<br />
                    <abbr title="Phone">P:</abbr> (+91) (944) 210-8844
                </address>
            </div>-->
        </div>

    </div>
</section>


<!-- Local script for menu handle -->
<!-- It can be also directive -->
<script>
    $(document).ready(function () {

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });

    });
</script>